<div id="welcome-page">
  <h2>Hiya! Let's Track that Budget</h2>
  <div id="options-wrapper">
      <span><%= link_to "Existing User", login_path %></span>
      <span><%= link_to "New User", signup_path %></span>
      <span><%= link_to "Guest User" %></span>
  <div>
</div>