<div id="welcome-page">
  <h2>Budget Tracker Login</h2>
  <%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-2x" %>
  <div id="options-wrapper">
      <span><%= link_to "Existing User", login_path %></span>
      <span><%= link_to "New User", signup_path %></span>
      <span><%= link_to "Guest User" %></span>
  <div>
</div>