// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome-page{
  text-align: center;
  background-color: #7D4F50;
  color: #F9EAE1;
  padding: .8rem;
}